/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  min-height: 100vh;
  background-color: rgb(249, 182, 101);
  display: flex;
  align-items: center;
}
.container{
  background-color: bisque;
  width: fit-content;
  margin: 0px auto;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  width: fit-content;
}
.inputContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0px auto;
}
.inputContainer input{
  border: none;
  border-radius: 5px;
  width: 9cm;
  height: 0.75cm;
  padding: 5px;
}
.inputContainer button{
  border: none;
  background-color: rgb(249, 189, 116);
  padding: 10px;
  border-radius: 2px;
}
.inputContainer button{
  height: 1cm;
  padding: 5px;
  border-radius: 5px;
}
.inputContainer button:hover{
  cursor: pointer;
  background-color: rgb(212, 130, 29);
}
#input{
  display: flex;
  flex-direction: row;
}
.addBtn{
  margin-left: 5px;
}
.clearBtn{
  margin-top: 5px;
  margin-right: 0.5px;
}
.todoItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin: 0px auto;
  font-size: larger;
  background-color: aliceblue;
  padding: 3px;
  height: 0.7cm;
  border-radius: 5px;
  overflow: hidden;

}
span{
  word-break: break-all;
  text-align: left;
  width: 100%;
  cursor: pointer;
}
span.done{
  text-decoration: line-through;
}
.todoListContainer{
  margin-top: 5px;
}
i:hover{
  color: rgb(151, 32, 32);
  cursor: pointer;
}
