/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  min-height: 100vh;
  background-color: #242424;
}
.container{
  margin-top: 150px;
}
.inputContainer{
  width: fit-content;
  margin: 0px auto;
}
.inputContainer input{
  border: none;
  border-radius: 5px;
  width: 9cm;
  height: 0.75cm;
  padding: 5px;
}
.inputContainer button{
  height: 1cm;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}
.inputContainer button:hover{
  cursor: pointer;
  background-color: rgb(185, 181, 181);
}
.todoItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 429px;
  margin: 0px auto;
  font-size: larger;
  background-color: aliceblue;
  padding: 3px;
  border-radius: 5px;
  overflow: hidden;

}
span{
  word-break: break-all;
  text-align: left;
}
.todoListContainer{
  margin-top: 5px;
}
i:hover{
  color: rgb(151, 32, 32);
  cursor: pointer;
}
